var new_commment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_commment);
$("#comment_<%= @comment.id %>").fadeIn('slow');
$('#new_commment')[0].reset();